@import './solar-css/lib/index';
@import './solar-stellarterm/lib/index';

@import './solar-css/styles/index';
@import './solar-stellarterm/styles/index';

// @import 'node_modules/react-select/dist/react-select.min';

html {
  min-width: 1052px;
  background: #fff;
}
body {
  // background: linear-gradient(0deg,#ced0ff,#c0ecff);
  background: linear-gradient(0deg,#d62930,#ed1c24);
  color: $s-color-neutral3;
  font-size: $s-scale-4;
  min-width: 1052px;
}
#app {
  position: relative;
}

.img--noSelect {
  user-select: none;
}

.clickToSelect {
  border-bottom: 1px dotted currentColor;
  cursor: pointer;
}

ul.privacy__ul {
  li {
    list-style-position: inside;
  }
}

@import 'island';
@import 'lightenZeros';
@import 'Ellipsis';

@import 'Header';
@import 'subNav';
@import 'HomePage';
@import 'row';

@import 'Generic';
@import 'Loading';

@import 'Exchange';
@import 'OfferTables';
  @import 'OfferTable';
@import 'PriceChart';

@import 'OfferMakers';
  @import 'OfferMaker';

@import 'ManageOffers';


@import 'Markets';
@import 'PairPicker';

@import 'AssetCard'; // Deprecated
@import 'AssetCard2';

@import 'AssetPair';

@import 'AssetPickerNarrow';
@import 'CustomMarketPicker';

@import 'AssetList';

@import 'DateCard';

@import 'GlobalModal';
@import 'TransactionSummary';

@import 'LoginPage';
@import 'Session';
@import 'AccountView';
@import 'HistoryView';
@import 'MinBalance';
@import 'BalancesTable';
@import 'HistoryTable';
@import 'ManageCurrentTrust';
@import 'Send';
@import 'Inflation';
@import 'AddTrust';
@import 'AddTrustRow';
@import 'Deposit';
@import 'Sale';
